.feed-container {
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% - 20px);
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  opacity: 1;
  top: 20px;
  position: relative;
  opacity: 1;
  transition: top 0.5s, opacity 0.2s;
}

.feed-container[collapse] {
  top: 24px;
  position: relative;
  opacity: 0;
  transition: top 0.5s, opacity 0.2s;
}

.feed-container > app-card {
  flex-basis: 25%;
}


@media only screen and (max-width: 1080px) {
    .feed-container > app-card {
        flex-basis: 50% !important;
    }

    .bottom-align {
      position: relative !important;
      top: 40px !important;
    }
}

@media only screen and (max-width: 735px) {
    .feed-container > app-card {
        flex-basis: 100% !important;
    }
}

@media (max-width: 735px) {
    .bottom-align {
      top: 40px !important;
    }
}

.bottom-align {
  position: fixed;
  bottom: 10px;
}

mz-pagination.bottom-align {
  width: 100%;
}
