<br *ngIf="!loaded" />
<div class="centerize-item" style="position: relative; top: 200px" *ngIf="!loaded">
  <mz-spinner
    [color]="'green'"
    [size]="'small'">
  </mz-spinner>
</div>

<section class="feed-container below-toolbar" *ngIf="loaded">
  <ng-container *ngFor="let bit of bits; let i = index">
    <app-card *ngIf="i > pagerIndex - 2 && i <= pagerIndex + 2" [bit]="bit"></app-card>
  </ng-container>
</section>

<mz-pagination *ngIf="loaded" class="bottom-align center-align"
  (pageChange)="onPageChange($event)"
  [currentPage]="1"
  [enableFirstAndLastPageButtons]="false"
  [itemsPerPage]="1"
  [totalItems]="bits.length"
  [maxPageButtons]="10">
</mz-pagination>
