<mz-card
  class="white base white-text"
  [horizontal]="false"
  [hoverable]="true">
  <mz-card-image>
    <cl-image  public-id="/codetut.io/{{bit.attributes.image}}"  class="thumbnail inline" format="jpg" secure="true">
      <cl-transformation width="325" height="250" aspect-ratio="4:3" quality="100" crop="scale">
      </cl-transformation>
    </cl-image>
  </mz-card-image>
  <mz-card-image-title>
    {{ bit.attributes.date | date }}
  </mz-card-image-title>
  <mz-card-title class="primary-text">
    {{ bit.title }}
  </mz-card-title>
  <mz-card-content class="orange-text">
    {{ bit.description }}
  </mz-card-content>
  <mz-card-action>
    <a routerLink="/{{ bit.id }}" routerLinkActive="active" class="link"><i class="material-icons">code</i></a>
  </mz-card-action>
</mz-card>
