<mz-collapsible pre-open
  [mode]="'expandable'"
  [popout]="false" class="aboutUsCard">
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header>
      <h5 style="text-align: center;">ABOUT US</h5>
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
        CodeTut.io is developed and updated by the developers of Aurodim LLC. <i class="primary-text">www.aurodim.com</i>
        <br/>
        <br/>
        To learn more about our developers, follow us on Instagram and check out our websites!
        <br/>
        <br/>
        Isaac Medina: <i class="primary-text">@isaac.meedinaa</i> | <i class="primary-text">www.isaacmedina.xyz</i>
        <br/>
        Daniel Jimenez: <i class="primary-text">@dannyyy.jimenez</i> | <i class="primary-text">www.dannyyy-jimenez.xyz</i>
        <br/>
        <br/>
        Any questions be free to contact us!<br/>
      <br/>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>
