<br *ngIf="!loaded" />
<div class="centerize-item" *ngIf="!loaded">
  <mz-spinner
    [color]="'green'"
    [size]="'small'">
  </mz-spinner>
</div>

<section class="left-section" *ngIf="loaded">
  <mz-collapsible pre-open
    [mode]="'expandable'"
    [popout]="false">
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header>
        <h5>WELCOME TO OUR UPCOMING FEATURES PANEL</h5>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
          Here, we have our upcoming features that are wanted by our developers as well as our viewers.
          <br/>
          <br/>
          Panels with a bright orange star mean that our developers have successfully implemented a part of that feature;
          <br/>
          <br/>
          Thank you for your support and love 🙌❤️,
          <br/>
          codetut.io Dev Team 🔥🔥🔥<br/><br/>
          Submit your own ideas to our dev team by sending us an email<br/><br/> <i class="primary-text">@codetut.devs@aurodim.com</i>
        <br/>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>
</section>

<!-- ADD FEATURES AFTER THIS; DO NOT CHANGE THE TOP ONE -->

<section class="right-section" *ngIf="loaded">
  <mz-collapsible
    [mode]="'expandable'"
    [popout]="false">
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header>
        <i mz-icon
          [align]="'left'"
          [icon]="'star'"
          [size]="'small'">
        </i>
        View More / View Next / View Random
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <ul>
          <li style="list-style-type:square">
            In the explainer page, have a icon to send you to the next tidbit or a random tidbit.
          </li>
          <li style="list-style-type:square">
            Have a carousel with other tidbits that can be opened by a FAB on the lower right side.
          </li>
        </ul>
        <br/>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>

  <mz-collapsible
    [mode]="'expandable'"
    [popout]="false">
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header>
        <i mz-icon
          [align]="'left'"
          [icon]="'star'"
          [size]="'small'">
        </i>
        Tags / Categories
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <ul>
          <li style="list-style-type:square">
            Allowing tidbits to display multiple tags.
          </li>
        </ul>
        <br/>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>

  <mz-collapsible
    [mode]="'expandable'"
    [popout]="false">
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header>
        <i mz-icon
          [align]="'left'"
          [icon]="'star'"
          [size]="'small'">
        </i>
        Search Filter
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <ul>
          <li style="list-style-type:square">
            A search filter for the different tidbits.
          </li>
        </ul>
        <br/>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>

  <mz-collapsible
    [mode]="'expandable'"
    [popout]="false">
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header>
        <i mz-icon
          [align]="'left'"
          [icon]="'star'"
          [size]="'small'">
        </i>
        Different Levels to Code Tidbits
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <ul>
          <li style="list-style-type:square">
            Generating multiple tidbits of the same challenge. But with different levels of experience behind each one.
          </li>
        </ul>
        <br/>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>

  <mz-collapsible
    [mode]="'expandable'"
    [popout]="false">
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header>
        <i mz-icon
          [align]="'left'"
          [icon]="'star'"
          [size]="'small'"
          class="orange-text">
        </i>
        In-App Tidbit Playground
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <ul>
          <li style="list-style-type:square">
            An in-app code compiler that allows users to toy around with the code and create their own rendition of the tidbit.
          </li>
        </ul>
        <br/>
        <b>This feature was successfully added 2/1/2019</b>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>
</section>
