<mz-collapsible pre-open
  [mode]="'expandable'"
  [popout]="false" class="aboutUsCard">
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header>
      <h5 style="text-align: center;">TERMS OF USE</h5>
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
        Coming soon.
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>

<mz-collapsible pre-open
  [mode]="'expandable'"
  [popout]="false" class="aboutUsCard">
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header>
      <h5 style="text-align: center;">PRIVACY POLICY</h5>
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
        Coming soon.
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>
