<mz-collapsible pre-open
  [mode]="'expandable'"
  [popout]="false">
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header>
      <h5 style="color: red; text-align: center;">PAGE NOT FOUND!</h5>
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      The page you are looking for does not exist or has been removed.
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>
