<br *ngIf="!loaded" />
<div class="centerize-item" *ngIf="!loaded">
  <mz-spinner
    [color]="'green'"
    [size]="'small'">
  </mz-spinner>
</div>

<section class="left-section" *ngIf="loaded">
  <mz-card
    class="white base"
    [horizontal]="false"
    [hoverable]="true">
    <mz-card-image>
      <cl-image  public-id="/codetut.io/{{bit?.attributes.image}}"  class="thumbnail inline" format="jpg" secure="true">
        <cl-transformation>
        </cl-transformation>
      </cl-image>
    </mz-card-image>
    <mz-card-title>
      Code Review
    </mz-card-title>
    <mz-card-action>
      <i clickable mz-icon style="line-height: inherit" data-position="top" data-tooltip="Enlarge Image" class="primary-text tooltipped" [align]="'left'" [icon]="'image'" [size]="'small'" (click)="imageModal.openModal()"></i>
      <i clickable mz-icon style="line-height: inherit" data-position="top" data-tooltip="Test Code" class="orange-text tooltipped" [align]="'right'" [icon]="'code'" [size]="'small'" (click)="replitModal.openModal()"></i>
    </mz-card-action>
  </mz-card>
</section>

<section class="right-section" *ngIf="loaded">
  <mz-card *ngFor="let section of bit?.sections"
    class="white base"
    [horizontal]="false"
    [hoverable]="true">
    <mz-card-title>
      {{ section.title }}
    </mz-card-title>
    <mz-card-content>
      <pre>
        <code [innerHTML]="section.code"></code>
      </pre>
      <span [innerHTML]="section.text"></span>
    </mz-card-content>
  </mz-card>
</section>

<mz-modal #imageModal [fixedFooter]="false" [bottomSheet]="false">
  <mz-modal-content>
    <cl-image *ngIf="loaded" fill-available public-id="/codetut.io/{{bit.attributes.image}}"  class="thumbnail inline" format="jpg" secure="true">
      <cl-transformation>
      </cl-transformation>
    </cl-image>
  </mz-modal-content>
</mz-modal>

<mz-modal #replitModal [fixedFooter]="false" [fullscreen]="true">
  <mz-modal-content>
    <iframe *ngIf="loaded" style="width: -webkit-fill-available; height: -webkit-fill-available" [src]="bit?.attributes.iframe" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
  </mz-modal-content>
</mz-modal>
