@import "../../assets/color";

mz-card {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

mz-card:not([first]) {
  margin-top: 15px;
  margin-bottom: 15px;
}

pre {
  background-color: color("secondary", "base");
  display: flex;
  align-items: center;
  min-height: 50px;
  justify-content: center;
}
