.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 100%;
  font-size: 32px;
}

.explorer {
  top: 24px;
  position: relative;
}

.input-field input:focus + label {
   color: #2ecc71;
 }
/* label underline focus color */
 .input-field input:focus, .input-field textarea:focus {
   border-bottom: 1px solid #2ecc71;
   box-shadow: 0 1px 0 0 #2ecc71;
 }

 .input-field input:focus + label, .input-field textarea:focus + label {
    color: #2ecc71;
  }

@media only screen and (max-width: 1000px) {
  .navBarItem {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .navBarMenuItem {
    display: none;
  }
}

@media only screen and (max-width: 385px) {
  .brand-logo {
    font-size: 20px;
  }
}

.menuBtn {
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
}

.sidenav {
    padding-top: 50px;
    background-color: #2ecc71;
}

.sideMenuItem a {
    color: #fff;
    font-size: 16px;
}

.sideMenuItem i {
    color: #fff;
}

.sideMenuItem a:hover {
    background: #27ae60;
}

.activeLink {
  pointer-events: none;
  background: rgba(0,0,0,0.2);
}
