<div class="navbar-fixed">
  <mz-navbar>
    <a routerLink="/" class="brand-logo center">{{ title }}</a>
    <mz-navbar-item-container style="margin-left: 10px" [align]="'left'" *ngIf="collapsed">
      <mz-navbar-item><a routerLink="/"><i mz-icon style="margin-left: 10px; outline: none; cursor:pointer" [icon]="'arrow_back'" [size]="'medium'"></i></a></mz-navbar-item>
    </mz-navbar-item-container>
    <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item class="navBarItem"><a routerLink="/about" routerLinkActive="activeLink">About</a></mz-navbar-item>
<!--      <mz-navbar-item class="navBarItem"><a routerLink="/contact" routerLinkActive="activeLink">Contact</a></mz-navbar-item>-->
      <!-- <mz-navbar-item><a routerLink="/partners" routerLinkActive="activeLink">Partners</a></mz-navbar-item> -->
      <mz-navbar-item class="navBarItem"><a routerLink="/upcoming" routerLinkActive="activeLink">Upcoming</a></mz-navbar-item>
      <mz-navbar-item class="navBarItem"><a class='dropdown-trigger' data-target='dropdown'>Legal</a></mz-navbar-item>
      <ul id='dropdown' class='dropdown-content'>
        <li><a routerLink="/legal/cookies-policy" class="primary-text">Cookies Policy</a></li>
        <li><a routerLink="/legal/privacy-policy" class="primary-text">Privacy Policy</a></li>
        <li><a routerLink="/legal/terms-and-conditions" class="primary-text">Terms and Conditions</a></li>
      </ul>
      <mz-navbar-item class="navBarMenuItem" mz-button id="btn-sidenav-demo">
          <a>
              <i class="material-icons" (click)="onMenuOpen()">menu</i>
          </a>
    </mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
</div>

 <ul id="slide-out" class="sidenav">
   <li class="sideMenuItem"><a routerLink="/about" routerLinkActive="activeLink"><i class="material-icons">info</i>About</a></li>
<!--   <li><a routerLink="/contact" routerLinkActive="activeLink">Contact</a></li>-->
  <li class="sideMenuItem white-text" class='dropdown-trigger' data-target='dropdown2'><a class="white-text"><i class="white-text material-icons">note</i>Legal</a></li>
<!--   <li><a routerLink="/partners" routerLinkActive="activeLink">Partners</a></li>-->
   <li class="sideMenuItem"><a routerLink="/upcoming" routerLinkActive="activeLink"><i class="material-icons">star</i>Upcoming</a></li>
   <ul id='dropdown2' class='dropdown-content'>
     <li><a routerLink="/legal/cookies-policy" class="primary-text">Cookies Policy</a></li>
     <li><a routerLink="/legal/privacy-policy" class="primary-text">Privacy Policy</a></li>
     <li><a routerLink="/legal/terms-and-conditions" class="primary-text">Terms and Conditions</a></li>
   </ul>
 </ul>

<router-outlet></router-outlet>

<cookie-law learnMore="/legal/privacy-policy" target="_self"></cookie-law>

<mz-modal #loginModal [fixedFooter]="true">
  <mz-modal-header>
    <h4>Log In (Admins Only)</h4>
  </mz-modal-header>
  <mz-modal-content>
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
      <div class="row">
        <div class="input-field col s12">
          <input autocomplete="email" id="emailInput" name="email" minlength="1" type="email" class="validate" required ngModel>
          <label for="emailInput">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input autocomplete="off" id="passInput" name="password" type="password" class="validate" required ngModel>
          <label for="passInput">Password</label>
        </div>
      </div>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
    <button mz-button [flat]="true" mz-modal-close [disabled]="!loginForm.form.valid" (click)="loginForm.onSubmit()">Log In</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #postModal [fullscreen]="true" [fixedFooter]="true">
  <mz-modal-header>
    <h4>Add a Post (Admins Only)</h4>
  </mz-modal-header>
  <mz-modal-content>
    <a class="waves-effect waves-light btn red white-text" *ngIf="!loggedIn" (click)="loginModal.openModal()">Log In</a>
    <form [ngStyle]="{'display' : loggedIn ? 'block' : 'none'}" #postForm="ngForm" (ngSubmit)="onPost(postForm.value)">
      <div class="row">
        <div class="input-field col s12">
          <input id="idInput" data-length="50" name="id" required minlength="1" maxlength="50" type="text" class="validate" ngModel>
          <label for="idInput">ID</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="titleInput" data-length="150" name="title" required minlength="1" maxlength="100" type="text" class="validate" ngModel>
          <label for="titleInput">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="descriptionTA" required name="description" class="materialize-textarea" data-length="150" ngModel></textarea>
          <label for="descriptionTA">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="ridInput" data-length="50" name="rid" required minlength="1" maxlength="50" type="text" class="validate" ngModel>
          <label for="ridInput">Repl.it ID</label>
        </div>
      </div>
      <section style="margin-left: 25px" *ngFor="let section of postSections; let i = index">
        <div class="row">
          <div class="input-field col s6">
            <input id="section_t{{i}}" required name="section_{{i}}_title" [(ngModel)]="section.title" type="text" class="validate">
            <label for="section_t{{i}}">Title Name</label>
          </div>
          <div class="input-field col s6">
            <input id="section_c{{i}}" required name="section_{{i}}_code" [(ngModel)]="section.code" (paste)="onCodeAdd($event, i)" type="text" class="validate">
            <label for="section_c{{i}}">Code</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="section_d{{i}}" name="section_{{i}}_code" [(ngModel)]="section.text" type="text" class="validate">
            <label for="section_d{{i}}">Code Description</label>
          </div>
        </div>
        <a class="waves-effect waves-light btn-flat red white-text" (click)="postSections.splice(i, 1)">Delete Section</a>
        <br/>
        <br/>
      </section>
      <a class="waves-effect waves-light btn primary" (click)="onSectionAdd()">Add Section</a>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button *ngIf="loggedIn" mz-button [flat]="true" mz-modal-close>Cancel</button>
    <button *ngIf="loggedIn" mz-button [flat]="true" mz-modal-close [disabled]="!postForm.form.valid" (click)="postForm.onSubmit()">Post</button>
  </mz-modal-footer>
</mz-modal>

<div class="fixed-action-btn" id="fab">
  <a class="btn-floating btn-large primary waves-effect waves-light waves-circle" (click)="postModal.openModal()">
    <i class="large material-icons">add</i>
  </a>
</div>
