html, body {
  height: 100%;
  width: 100%;
}

nav {
  transition: height 0.5s;
  line-height: 64px;
  background-image: url('https://res.cloudinary.com/aurodim/image/upload/v1549228953/codetut.io/toolbar-background-strip.svg');
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  transition: height 0.5s;
  line-height: 64px;
}

nav .button-collapse i {
  transition: height 0.5s;
  line-height: 64px;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
      transition: height 0.5;
      line-height: 64px;
    }
}

nav[collapse] {
    transition: height 0.5;
    height: 64px;
    line-height: 64px;
}

nav[collapse] i, nav[collapse] [class^="mdi-"], nav[collapse] [class*="mdi-"], nav[collapse] i.material-icons {
  transition: height 0.5;
  height: 64px;
  line-height: 64px;
}

nav[collapse] .button-collapse i {
    transition: height 0.5;
    height: 64px;
    line-height: 64px;
}

@media only screen and (min-width: 601px){
    nav[collapse], nav[collapse] .nav-wrapper i, nav[collapse] a.button-collapse, nav[collapse] a.button-collapse i {
      transition: height 0.5;
      height: 64px;
      line-height: 64px;
    }
}

nav .nav-wrapper {
  // background-image: url("https://res.cloudinary.com/aurodim/image/upload/v1549008574/codetut.io/logo.png"), url('https://res.cloudinary.com/aurodim/image/upload/v1548992998/codetut.io/trianglify.svg');
  // background-size: 150px 150px, cover;
  // background-repeat: no-repeat, no-repeat;
  // background-position: center 100px, center;
}

.centerize-item {
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

*[clickable] {
  cursor: pointer;
}

.modal .modal-content div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modal-content div mz-modal-content {
  width: 100%;
  text-align: center;
}

app-card mz-card .card .card-content {
  min-height: 154px;
}

@media only screen and (max-width: 630px) {
    .card {
        width: 550px;
    }
}

@media only screen and (max-width: 575px) {
    .card {
        width: 500px;
    }
}

@media only screen and (max-width: 535px) {
    .card {
        width: 450px;
    }

    code {
        font-size: 10px;
    }
}

@media only screen and (max-width: 475px) {
    .card {
        width: 400px;
    }

    code {
        font-size: 10px;
    }
}

@media only screen and (max-width: 425px) {
    .card {
        width: 350px;
    }

    code {
        font-size: 10px;
    }
}

@media only screen and (max-width: 375px) {
    .card {
        width: 300px;
    }

    code {
        font-size: 8px;
    }
}

@media only screen and (max-width: 325px) {
    .card {
        width: 300px;
    }

    code {
        font-size: 8px;
    }
}


mz-collapsible .collapsible {
    max-width: 600px;
    width: auto;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

mz-collapsible[wide] .collapsible {
    max-width: 700px;
    width: auto;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 720px) {
  mz-collapsible:first-child {
      top: 20px;
  }

  mz-collapsible {
    position: relative;
  }

  mz-collapsible .collapsible {
      max-width: 90%;
  }

  mz-collapsible[wide] .collapsible {
      max-width: 90%;
  }
}

@media only screen and (max-width: 625px) {
    mz-collapsible .collapsible {
        max-width: 550px;
        width: auto;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 575px) {
      mz-collapsible .collapsible {
        max-width: 500px;
        width: auto;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 530px) {
      mz-collapsible .collapsible {
        max-width: 450px;
        width: auto;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 475px) {
      mz-collapsible .collapsible {
        max-width: 400px;
        width: auto;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 430px) {
      mz-collapsible .collapsible {
        max-width: 350px;
        width: auto;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 370px) {
      mz-collapsible .collapsible {
        max-width: 300px;
        width: auto;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 320px) {
      mz-collapsible .collapsible {
        max-width: 250px;
        width: auto;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

mz-collapsible[pre-open] .collapsible-body, mz-collapsible[pre-open] .collapsible-header {
  display: block;
  pointer-events: none;
}


.left-section  {
  float: left;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 64px);
}

@media only screen and (max-width: 1230px) {
    .left-section {
        padding: 0px !important;
        width: 100%;
        height: auto !important;
    }
}

.right-section {
  float: right;
  width: 50%;
  overflow: scroll;
  justify-content: center;
  align-items: center;
  height: calc(100% - 64px);
}

@media only screen and (max-width: 1230px) {
    .right-section {
        padding: 0px !important;
        width: 100%;
        overflow: hidden !important;
        height: auto !important;
    }
}

img[fill_available] {
  height: -webkit-fill-available
}

#toast-container {
  width: 100% !important;
  max-width: 100% !important;
  position: fixed;
  bottom: 0;
  top: auto;
  right: 0;
}

.toast-custom {
  width: 100%;
}
